{% extends 'website/base.html' %}
{% load static %}


{% block content %}


<main class="main__content_wrapper">
        
    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <h1 class="breadcrumb__content--title mb-25">News</h1>
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb__content--menu__items"><span>News</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->

    <!-- Start blog section -->
    <section class="blog__section section--padding">
        <div class="container">
            <div class="section__heading border-bottom mb-30">
                <h2 class="section__heading--maintitle">Blog  <span>& article</span></h2>
            </div>
            <div class="blog__section--inner">
                <div class="row mb--n30">
                    {% for blog in blogs %}
                    <div class="col-lg-4 col-md-6 col-sm-6 mb-30">
                        <div class="blog__card">
                            <div class="blog__card--thumbnail">
                                <a class="blog__card--thumbnail__link" href="{% url 'blog_detail' blog.id %}"><img class="blog__card--thumbnail__img" src="{{blog.image_file.url}}" alt="blog-img"></a>
                                <span class="blog__card--meta__date">{{blog.submission_date}}</span>  
                            </div>
                            <div class="blog__card--content">
                                <h3 class="blog__card--title"><a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a></h3>
                                <p class="blog__card--desc">{{ blog.content | slice:":50" | truncatechars:50 }} </p>
                                <div class="blog__card--footer d-flex justify-content-between align-items-center">
                                    <a class="blog__card--btn__link" href="{% url 'blog_detail' blog.id %}">Read more 
                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.8335 3.6178L8.26381 0.157332C8.21395 0.107774 8.1532 0.0681771 8.08544 0.0410843C8.01768 0.0139915 7.94441 0 7.87032 0C7.79624 0 7.72297 0.0139915 7.65521 0.0410843C7.58746 0.0681771 7.5267 0.107774 7.47684 0.157332C7.37199 0.262044 7.31393 0.39827 7.31393 0.539537C7.31393 0.680805 7.37199 0.817024 7.47684 0.921736L10.0943 3.45837H0.55625C0.405122 3.46829 0.26375 3.52959 0.160556 3.62994C0.057363 3.73029 0 3.86225 0 3.99929C0 4.13633 0.057363 4.26829 0.160556 4.36864C0.26375 4.46899 0.405122 4.53029 0.55625 4.54021H10.0927L7.47527 7.07826C7.37042 7.18298 7.31235 7.3192 7.31235 7.46047C7.31235 7.60174 7.37042 7.73796 7.47527 7.84267C7.52513 7.89223 7.58588 7.93182 7.65364 7.95892C7.7214 7.98601 7.79467 8 7.86875 8C7.94284 8 8.0161 7.98601 8.08386 7.95892C8.15162 7.93182 8.21238 7.89223 8.26223 7.84267L11.8335 4.38932C11.9406 4.28419 12 4.14649 12 4.00356C12 3.86063 11.9406 3.72293 11.8335 3.6178Z" fill="currentColor"></path>
                                        </svg>
                                    </a>
                                </div>    
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>


                <div class="pagination__area bg__gray--color">
                    <nav class="pagination justify-content-center">
                        <ul class="pagination__wrapper d-flex align-items-center justify-content-center">
                            <li class="pagination__list">
                                <a href="blog.html" class="pagination__item--arrow  link ">
                                    <svg xmlns="http://www.w3.org/2000/svg"  width="22.51" height="20.443" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M244 400L100 256l144-144M120 256h292"/></svg>
                                    <span class="visually-hidden">page left arrow</span>
                                </a>
                            <li>
                            <li class="pagination__list"><span class="pagination__item pagination__item--current">1</span></li>
                            <li class="pagination__list"><a href="blog.html" class="pagination__item link">2</a></li>
                            <li class="pagination__list"><a href="blog.html" class="pagination__item link">3</a></li>
                            <li class="pagination__list"><a href="blog.html" class="pagination__item link">4</a></li>
                            <li class="pagination__list">
                                <a href="blog.html" class="pagination__item--arrow  link ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22.51" height="20.443" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M268 112l144 144-144 144M392 256H100"/></svg>
                                    <span class="visually-hidden">page right arrow</span>
                                </a>
                            <li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End blog section -->

     <!-- Start shipping section -->
     <section class="shipping__section section--padding">
        <div class="container">
            <div class="shipping__inner mb-0 style2 d-flex">
                <div class="shipping__items style2 d-flex align-items-center">
                    <div class="shipping__icon">  
                        <img src="{% static 'img/other/shipping1.webp' %}" alt="icon-img">
                    </div>
                    <div class="shipping__content">
                        <h2 class="shipping__content--title h3">Free Shipping</h2>
                        <p class="shipping__content--desc">Free shipping over $100</p>
                    </div>
                </div>
                <div class="shipping__items style2 d-flex align-items-center">
                    <div class="shipping__icon">  
                        <img src="{% static 'img/other/shipping2.webp' %}" alt="icon-img">
                    </div>
                    <div class="shipping__content">
                        <h2 class="shipping__content--title h3">Support 24/7</h2>
                        <p class="shipping__content--desc">Contact us 24 hours a day</p>
                    </div>
                </div>
                <div class="shipping__items style2 d-flex align-items-center">
                    <div class="shipping__icon">  
                        <img src="{% static 'img/other/shipping3.webp' %}" alt="icon-img">
                    </div>
                    <div class="shipping__content">
                        <h2 class="shipping__content--title h3">100% Money Back</h2>
                        <p class="shipping__content--desc">You have 30 days to Return</p>
                    </div>
                </div>
                <div class="shipping__items style2 d-flex align-items-center">
                    <div class="shipping__icon">  
                        <img src="{% static 'img/other/shipping4.webp' %}" alt="icon-img">
                    </div>
                    <div class="shipping__content">
                        <h2 class="shipping__content--title h3">Payment Secure</h2>
                        <p class="shipping__content--desc">We ensure secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End shipping section -->
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      var elementToCollapse = document.getElementById("categoriesAccordion");
      if (elementToCollapse) {
        elementToCollapse.classList.remove("show");
      }
    });
    
</script>
{% endblock %}