{% extends 'website/base.html' %}
{% load static %}


{% block content %}

<main class="main__content_wrapper">
        
    <!-- Start breadcrumb section -->
    <section class="breadcrumb__section breadcrumb__bg">
        <div class="container">
            <div class="row row-cols-1">
                <div class="col">
                    <div class="breadcrumb__content text-center">
                        <ul class="breadcrumb__content--menu d-flex justify-content-center">
                            <li class="breadcrumb__content--menu__items"><a href="{%% url 'index'}">Home</a></li>
                            <li class="breadcrumb__content--menu__items"><span>Account</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End breadcrumb section -->

    <div class="login__section section--padding">
        <div class="container">
            <form>
                
                <div class="login__section--inner">
                    <div class="row row-cols-md-2 row-cols-4 justify-content-center">
                            <div class="account__login">
                                <div class="account__login--header mb-25">
                                    <h2 class="account__login--header__title mb-10">Customer Service</h2>
                                </div>
                                <div class="account__login--inner">
                                   
                                   
                                    <a class="account__login--btn primary__btn" href="{% url 'contact' %}" style="margin-bottom: 2%;">CONTACT US</a>
                                    <a class="account__login--btn primary__btn" href="{% url 'about' %}" style="margin-bottom: 2%;">ABOUT US</a>
                                    <a class="account__login--btn primary__btn" href="{% url 'ordering' %}" style="margin-bottom: 2%;">ORDERING</a>
                                    <a class="account__login--btn primary__btn" href="{% url 'shipping_information' %}" style="margin-bottom: 2%;">SHIPPING</a>
                                    <a class="account__login--btn primary__btn" href="{% url 'exporting' %}" style="margin-bottom: 2%;">EXPORTING</a>
                                    <a class="account__login--btn primary__btn" href="{% url 'returns' %}" style="margin-bottom: 2%;">RETURNS</a>
                                    

                                </div>
                            </div>
                       
                    
                    </div>
                </div>
            </form>
        </div>     
    </div>



</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
      var elementToCollapse = document.getElementById("categoriesAccordion");
      if (elementToCollapse) {
        elementToCollapse.classList.remove("show");
      }
    });
    

</script>


{% endblock %}